<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.md.shop.mappers.memberMapper">
<insert id="signup">
<![CDATA[
insert into tbl_member(userId, userPass, userPassRe, userName, userPhone, userEmail, userGender, userAddr1, userAddr2, userAddr3, verify)
values(#{userId},#{userPass},#{userPassRe},#{userName},#{userPhone},#{userEmail},#{userGender},#{userAddr1},#{userAddr2},#{userAddr3},#{verify})
]]>
</insert>
<select id="signin" resultType="com.md.shop.domain.MemberVO">
<![CDATA[
select userId, userName, userPass, userPassRe, userPhone, userEmail, userGender, userAddr1, userAddr2, userAddr3, regdate, verify
from
tbl_member where userId = #{userId}
]]>
</select>
</mapper>